html, body {
    background-color: #fff;
    scroll-behavior: smooth;
}
.display-text {
    font-family: 'Montserrat', sans-serif;
    color: #000!important
}
p {
    color: #000
}
.text-grey {
    color: var(--grey)
}

#today-archive .description {
    background-image: linear-gradient(180deg,#000000 0%,rgba(0,0,0,0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1, h2, h3, h4, h5, h6, p, label, th, td, .form-select {
    color: #000
}
.rounded-corner {
    border-radius: 8px
}
.rounded-corner-card-image {
    border-radius: 8px 8px 0 0;
}
.btn {
    border-radius: 8px
}
ul.avatars {
    display: flex ; /* Causes LI items to display in row. */
    list-style-type: none ;
    margin: auto ; /* Centers vertically / horizontally in flex container. */
    padding: 0px 7px 0px 0px ;
    z-index: 1 ; /* Sets up new stack-container. */
}
li.avatars__item {
    height: 49px ;
    margin: 0px 0px 0px -10px ;
    padding: 0px 0px 0px 0px ;
    position: relative ;
    width: 42px ; /* Forces flex items to be smaller than their contents. */
}
li.avatars__item:nth-child( 1 ) { z-index: 9 ; }
li.avatars__item:nth-child( 2 ) { z-index: 8 ; }
li.avatars__item:nth-child( 3 ) { z-index: 7 ; }
li.avatars__item:nth-child( 4 ) { z-index: 6 ; }
li.avatars__item:nth-child( 5 ) { z-index: 5 ; }
li.avatars__item:nth-child( 6 ) { z-index: 4 ; }
li.avatars__item:nth-child( 7 ) { z-index: 3 ; }
li.avatars__item:nth-child( 8 ) { z-index: 2 ; }
li.avatars__item:nth-child( 9 ) { z-index: 1 ; }
img.avatars__img,
span.avatars__initials,
span.avatars__others {
    background-color: #596376 ;
    border: 0px solid #fff ;
    box-shadow: 0px 0px 3px #777;
    border-radius: 100px 100px 100px 100px ;
    color: #FFFFFF ;
    display: block ;
    font-family: sans-serif ;
    font-size: 12px ;
    font-weight: 100 ;
    height: 45px ;
    line-height: 45px ;
    text-align: center ;
    width: 45px ;
}
img.avatars__img.no-shadow {
    box-shadow: 0px 0px 0px;
}
span.avatars__others {
    background-color: #1E8FE1 ;
}

img.avatars__img-sm,
span.avatars__initials-sm,
span.avatars__others-sm {
    height: 24px ;
    line-height: 24px;
    width: 24px ;
}

.error-container,
.error-container p, 
.error-container small {
    font-size: .8rem;
    color: red;
}

.success-container,
.success-container p, 
.success-container small {
    font-size: .8rem;
    color: var(--success);
}

.x-large-icon svg {
    height: 3rem;
    width: 3rem;
}

input:not(.input-landing), textarea, select:not(.select-landing), .modal-content, .select2-selection, .input-group-text {
    border-radius: 8px!important;
    border: 0px!important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075)!important;
    font-size: 0.9rem!important;
}
input:not([type=radio]):not([type=checkbox]):not(.input-landing), textarea, select:not(.select-landing), .select2-selection {
    background-color: #fafafa!important;
}
input:not([type=radio]):not([type=checkbox]):not(.input-landing):disabled, textarea:disabled, select:not(.select-landing):disabled, .select2-selection:disabled {
    background-color: #f0f0f0!important;
    box-shadow: 0!important;
}

button {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075)!important;
}

[role=button] {
    cursor: pointer;
}

.swiper {
    width: auto;
    max-width: 90vw;
    max-height: 80vh;
}

.table-responsive {
    min-height: 400px
}

td {
    max-width: 250px;
    word-wrap: break-word;
    white-space: normal;
}

label {
    font-weight: 500
}

.light svg path,
.light svg rect{
  fill: #FF6700;
}

.docs-pictures {
	list-style: none;
	margin: 0;
	padding: 0;
}

.docs-pictures > li {
	border: 1px solid transparent;
	float: left;
	height: calc(100% / 3);
	margin: 0 -1px -1px 0;
	overflow: hidden;
	width: calc(100% / 3);
}

.docs-pictures > li > img {
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
	/* width: 100%; */
}

.nowrap-td {
    white-space: nowrap;
    overflow: hidden;
}